@{
    ViewData["Title"] = "Mundovix";
}

<div class="text-center">
    <h1 class="display-4">COPA DO MUNDO 🏆</h1>
    <p>Simulação de eliminatórias da Copa do Mundo</p>
</div>
     <p> Escolha os países que iram participar: </p>

     <script>
         var pais1 = "FRANÇA";
         var pais2 = "DINAMARCA";
         var pais3 = "INGLATERRA";
         var pais4 = "ARGENTINA";
         var resultado = "França x Dinamarca"

          if (pais1 === pais2){
                   console.log(resultado);
                }
     </script>

    <body>
        <h6 id=demo1></h6>
        <button onclick="myFunction1()">FRANÇA</button>

        <h6 id=demo2></h6>
        <button onclick="myFunction2()">DINAMARCA</button>

        <h6></h6>

        
            <script>
                 
                function myFunction1(){
                    document.getElementById("demo1").innerHTML = "França selecionada";
                }
                function myFunction2(){
                    document.getElementById("demo2").innerHTML = "Dinamarca selecionada";
                }

                //function myFunction3(){
                //  document.getElementById("demo3").innerHTML = "França x Dinamarca"
                //}

                

           </script>
 

   </body>
       
      
     
        
